body {
  min-height: 100vh;
}

main {
  display: flex;
  justify-content: center;
}

.content-container {
  width: 90%;
  box-sizing: border-box;
  padding-top: 20px;
}

.about-section {
  margin-top: 30px;
  padding: 20px 0;

  display: flex;
  justify-content: space-between;
  max-width: 1500px;
  margin: auto;
}

.about-text {
  flex: 3;
  max-width: 800px;
}

.profile-img-wrapper {
  flex: 2;
  height: 250px;
  text-align: right;
  margin-left: 20px;
  margin-top: 20px;
  max-width: 300px;
}

.profile-img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;

  margin: 0;
  padding: 0;
  border: 5px solid #53b0cf;
  border-radius: 10px;
}

.profile-img-caption {
  margin-top: 20px;
  width: 100%;
}

.portfolio-section-header {
  display: flex;
  justify-content: space-between;
}

.portfolio-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 30px 0 40px;
}

.portfolio-item {
  width: 49%;
  margin-bottom: 50px;
}

.portfolio-img-wrapper {
  width: 100%;
  height: 400px;
  box-sizing: border-box;
}

.portfolio-img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border: 5px solid #c1394a;
  border-radius: 5px;
}

.about-contact {
  width: 100%;
}

.about-contact-links {
  display: flex;
  width: 80%;
  padding-left: 10%;

  justify-content: space-between;
}

.about-contact-links a {
  color: black;
  text-decoration: none;
  /* font-size: 50px; */
}

.about-contact-links a:hover {
  color: #c1394a;
  font-weight: bold;
  text-decoration: underline;
  transition: 0.5s;
  /* font-size: 500px; */
}

.contact-logo {
  height: 40px;
  width: 40px;
}

.source-code-link {
  text-align: center;
  font-size: 12px;
}

.portfolio-section {
  padding: 20px 0;
  max-width: 1500px;
  margin: auto;
}

.portfolio-title {
  width: 100%;
  text-align: left;
  margin-left: 10%;
}

.portfolio-text-wrapper {
  width: 30%;
  margin: 0 8px;
  box-sizing: border-box;
}

.portfolio-currentproject-wrapper {
  width: 30%;
  height: 300px;
}

.portfolio-row-job-specific {
  margin: 20px 0;
}

.portfolio-job-screenshots {
  width: 90%;
  margin: auto;
}

.portfolio-job-caption {
  margin: 7px 0;
  line-height: 1.2;
}

.portfolio-job-thumb {
  width: 100%;
}

.portfolio-job-screencap-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.portfolio-job-example-card {
  width: 32%;
}

.portfolio-job-example-caption {
  margin-top: 10px;
}

/* mobile responsiveness and media queries */

/* breakpoints: 600px, 900px, 1200px, and 1800px */

@media (max-width: 1200px) {
  .portfolio-img-wrapper {
    width: 100%;
    height: 280;
    box-sizing: border-box;
  }

  .portfolio-currentproject-wrapper {
    height: 280px;
  }
}

@media (max-width: 850px) {
  .about-section {
    display: block;
    width: 100%;
  }

  .portfolio-section-header {
    display: block;
  }

  .profile-img {
    max-width: 100%;
    height: auto;
  }

  .profile-img-caption {
    width: 100%;
  }

  .portfolio-img-wrapper {
    height: 200px;
  }

  .portfolio-currentproject-wrapper {
    height: 200px;
  }
}

@media (max-width: 600px) {
  .about-contact-links {
    width: 100%;
    padding-left: 0;
  }

  .portfolio-row {
    display: block;
    margin: 0;
  }

  .portfolio-item {
    width: 100%;
    margin-bottom: 50px;
  }

  .portfolio-img-wrapper {
    width: 100%;
    height: 300px;
  }

  .portfolio-text-wrapper {
    width: 100%;
    margin: 0 0 30px;
    box-sizing: border-box;
  }

  .portfolio-currentproject-wrapper {
    width: 100%;
    height: 300px;
    margin-bottom: 50px;
  }
}
